body {
  background-color: rgb(226 236 255);
  color: black;
  font-size: 18px;
  font-family: 'Times New Roman', Times, serif;
}

main {
  width: 900px;
  background-color: white;
  margin: 20px auto 50px auto;
}

figure {
  margin: 0%;
}

.hero {
  position: relative;
}

#feature img {
  width: 900px;
}

.title {
  position: absolute;
  left: 50px;
  bottom: 50px;
  padding: 20px;
  background-color: rgb(199, 199, 199, 0.65);
}

h1 {
  font-size: 60px;
  margin: 0px;
}

.title p {
  font-size: 20px;
  margin-top: 6px;
  margin-bottom: 0;
  font-weight: 600;
}

article {
  padding: 10px 110px;
}

#article-figure img {
  width: 300px;
}

#article-figure {
  float: right;
  margin-left: 15px;
}

.figcaption {
  font-size: 14px;
}

.tags {
  padding: 20px 0px;
}

.tags span{
  font-size: 12px;
  background-color: #4e8098;
  padding: 5px 10px;
  border-radius: 3px;
  margin-right: 5px;
  color: white;
}

footer {
  border-top: 1px solid gray;
  padding: 10px 0 20px 0;
}

footer p {
  text-align: center;
}